/*
	Interphase by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
*/

/* Basic */

	body, input, select, textarea {
		font-size: 13pt;
	}

/* Banner */

	/* #banner { */
		/* padding: 12em 0em 10em; */
	/* } */

		#banner h2 {
			font-size: 3.5em;
		}

		.overlay-desc h1 {
			margin: 1.5em 1.5em 0 1.5em !important;
			font-size: 5.5em !important;
		}
	
		#paragraf {
			color: white;
			font-weight: 500;
			padding-left: 5px !important;
			letter-spacing: normal;
			font-size: 30px !important;
			font-family: 'Roboto', sans-serif;
			line-height: 40px;
			margin: 0 !important;
		}
	

/* Footer */

	#footer .icons .rounded {
		font-size: 1em;
	}